

#form {

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    position: fixed;
    width: 400px;
    height: 500px;
    background-color: white;
    border: 2px solid #9381ff;
    box-shadow: 4px 4px 1px #9381ff;
    bottom: -100%;
    right: -100%;

}

#fillout-container.active {

    bottom: 80px;
    right: 145px;
    transition: ease-in 800ms;

}

#fillout-container.after {

    bottom: -150%;
    right: -100%;
    transition: ease-out 800ms;

}