
#main-container{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logoNav-container{

    width: 100%;
    height: 50px;
    display: flex; 
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    padding-left: 100px;
    color: #7209b7;
    margin-top: 5px;
    font-size: 25px;

}

#rm-logo{

    width: 150px;
    height: 150px;
    margin-top: 20px;
}

#middle-container{

    width: 600px;
    height: 600px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

#profile-pic{

    width: 150px;
    height: 150px;
    box-shadow: 8px 8px 20px rgba(151, 151, 151, 0.848);
    border-radius: 50%;
}

#title{

    color: #7209b7;
    font-weight: 200;
}

#contact{

    color: #7209b7;
    text-align: center;
    font-weight: 200;
    font-size: 14px;
}

#aboutbtn-container{

    width: 400px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

button {

    width: 150px;
    height: 45px;
    border-radius: 50px;
    border: none;
    font-size: 10px;
    cursor: pointer;
}

#abtme-btn{
    color: rgb(107, 107, 107);
    background-color: white;
    box-shadow: 8px 8px 20px rgba(151, 151, 151, 0.368);
}

#abtme-btn:hover {

    color: white;
    background-color: #7209b7;
    transition: 0.5s ease;
}


#viewwork-btn{

    color: white;
    background-color: #7209b7;
    box-shadow: 8px 8px 20px rgba(125, 125, 125, 0.807);
}


#viewwork-btn:hover{

    color: rgb(107, 107, 107);
    background-color: white;
    transition: 0.5s ease;

}

#socials-container{

    margin-top: 50px;
    width: 150px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

#socials-container img {

    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 30px;
    box-shadow: 8px 8px 20px rgba(125, 125, 125, 0.313);

   

}

#footer-container{

    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-top: -30px;

}

#footer-container #message-icon{

    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    background-color:#7209b7;
    box-shadow: 8px 8px 20px rgba(125, 125, 125, 0.678);
    margin-right: 100px;
}

#footer-container #message-icon:hover{

    transition: 0.5s ease;
    background-color:#c77dff;
}

/* ===================================*/

#close-container{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

}

#x {

    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
}

form{

    position: fixed;
    width: 400px;
    height: 550px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 8px 8px 20px rgba(125, 125, 125, 0.678);
    bottom: -100%;
    right: -100%;

}

#form-body{

    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

form.active {

    bottom: 80px;
    right: 145px;
    transition: ease-in 800ms;

}

form input {

    width: 300px;
    height: 40px;
    border: 2px dotted lightgrey;
    padding-left: 5px;
}

form button {

    color: white;
    background-color: #7209b7;
    box-shadow: 8px 8px 20px rgba(125, 125, 125, 0.807);
    margin-bottom: 20px;

}

form button:hover{

    color: rgb(107, 107, 107);
    background-color: white;
    transition: 0.5s ease;

}

#alert {

    font-size: 12px;
    color: #e63946;
}

#after-submission{

    color:#7209b7;
}

/*=====================================*/

#aboutme-close-container{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:right;
    align-items: center;

}

#aboutme-x {


        width: 20px;
        height: 20px;
        margin-top: 20px;
        margin-right: 20px;
        cursor: pointer;
    
}


#aboutme-popup{

    position: fixed;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100vh;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: white;
    border-radius: 10px;
    color: rgb(81, 81, 81);
    box-shadow: 8px 8px 20px rgba(61, 61, 61, 0.834);
    overflow: scroll;
    bottom: 0px;
    left: -100%;
    padding-bottom: 20px;

}

#aboutme-popup.active{

    left: 0px;
    transition: ease-in-out 800ms;
        

}

#aboutme-popup.after {

    left: -100%;
    bottom: 0px;
    transition: ease-out 800ms;

}
/* 
#aboutme-holder{

    width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
} */

#about-me-content{

    width: 500px;
    height: 500px;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    /* overflow: scroll; */
    margin-left: 80px;
    font-size: 14px;

}

#aboutme-popup button {

    color: white;
    background-color: #7209b7;
    box-shadow: 8px 8px 20px rgba(125, 125, 125, 0.807);
    /* margin-bottom: 0px; */

}

#aboutme-popup button:hover{

    color: rgb(107, 107, 107);
    background-color: white;
    transition: 0.5s ease;

}

#aboutme-language-container{

    width: 500px;
    height: 100px;
    display: flex;
    /* overflow: scroll; */
    justify-content: space-evenly;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 20px;


}

#aboutme-experience {

    margin-left: 80px;
}

#aboutme-education{

    margin-left: 80px;

}


#education{

    width: 500px;
    height: 100px;
    margin-top: 40px;
    display: flex;
    overflow: scroll;
    justify-content: space-evenly;
    align-items: center;
    /* overflow: scroll; */
    margin-right: 220px;

}
/*=====================================*/

#portfolio-popup{

    position: fixed;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100vh;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: white;
    border-radius: 10px;
    color: rgb(81, 81, 81);
    box-shadow: 8px 8px 20px rgba(61, 61, 61, 0.834);
    overflow: scroll;
    flex-shrink: 0;
    bottom: 0px;
    right: -100%;
}

#portfolio-popup.active{

    right: 0px;
    transition: ease-in-out 800ms;
        

}

#portfolio-popup.after {

    right: -100%;
    bottom: 0px;
    transition: ease-out 800ms;

}

#portfolio-close-container{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;


}

#portfolio-x {


    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;

}

#portfolio-content-container{

    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#portfolio-title{

    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;



}

#project-card{

    width: 500px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: none;
    margin-top: 30px;
    padding-bottom: 30px;
    box-shadow: 8px 8px 20px rgba(61, 61, 61, 0.336);


}

.video{

    width: 450px;
    height: 280px;
    border-radius: 20px;

}

#project-title{

    color: #7209b7;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}

#project-library{

    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}

#project-description{

    color: #7209b7;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}

#viewproject-btn{

    color: rgb(107, 107, 107);
    background-color: white;
    margin-top: 10px;
    box-shadow: 8px 8px 20px rgba(151, 151, 151, 0.368);
}



#viewproject-btn:hover{

    color: white;
    background-color: #7209b7;
    transition: 0.5s ease;

}




/* ===================================*/

.shadow-effect {

    position: relative;
    bottom: 5px;
    transition: 1.5s ease-in;

}

#dark-overlay {

    transition: ease-in 400ms;
	display: none;
	width: 100%;
	height: 100vh;
	position: absolute;
	background-repeat: repeat;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.43);
	z-index: 0;
    cursor:pointer;
}

#form-overlay{

    transition: ease-in 400ms;
	display: none;
	width: 100%;
	height: 100vh;
	position: absolute;
	background-repeat: repeat;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.43);
	z-index: 0;
    cursor:pointer;


}


/*=====================================*/

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

.background span {
    width: 2vmin;
    height: 2vmin;
    border-radius: 2vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #6942ae;
    top: 15%;
    left: 77%;
    animation-duration: 54s;
    animation-delay: -31s;
    transform-origin: -20vw 8vh;
    box-shadow: 4vmin 0 0.568680599782108vmin currentColor;
}
.background span:nth-child(1) {
    color: #ffffff;
    top: 58%;
    left: 23%;
    animation-duration: 10s;
    animation-delay: -41s;
    transform-origin: -11vw 9vh;
    box-shadow: 4vmin 0 1.416015983861693vmin currentColor;
}
.background span:nth-child(2) {
    color: #ffffff;
    top: 23%;
    left: 96%;
    animation-duration: 21s;
    animation-delay: -30s;
    transform-origin: 12vw 8vh;
    box-shadow: 4vmin 0 0.638278870095931vmin currentColor;
}
.background span:nth-child(3) {
    color: #ffffff;
    top: 30%;
    left: 36%;
    animation-duration: 54s;
    animation-delay: -8s;
    transform-origin: -22vw -7vh;
    box-shadow: 4vmin 0 0.7158292987668264vmin currentColor;
}
.background span:nth-child(4) {
    color: #ffffff;
    top: 52%;
    left: 3%;
    animation-duration: 50s;
    animation-delay: -46s;
    transform-origin: -15vw 13vh;
    box-shadow: 4vmin 0 1.2754160565166301vmin currentColor;
}
.background span:nth-child(5) {
    color: #6942ae;
    top: 96%;
    left: 23%;
    animation-duration: 6s;
    animation-delay: -11s;
    transform-origin: 24vw -6vh;
    box-shadow: -4vmin 0 0.5391703415412725vmin currentColor;
}
.background span:nth-child(6) {
    color: #ffffff;
    top: 20%;
    left: 37%;
    animation-duration: 32s;
    animation-delay: -12s;
    transform-origin: -6vw -19vh;
    box-shadow: -4vmin 0 0.6567990075628356vmin currentColor;
}
.background span:nth-child(7) {
    color: #6942ae;
    top: 55%;
    left: 7%;
    animation-duration: 22s;
    animation-delay: -38s;
    transform-origin: -23vw -4vh;
    box-shadow: 4vmin 0 1.1156731826179433vmin currentColor;
}
.background span:nth-child(8) {
    color: #ffffff;
    top: 51%;
    left: 42%;
    animation-duration: 53s;
    animation-delay: -49s;
    transform-origin: 22vw 8vh;
    box-shadow: 4vmin 0 0.8226686838473316vmin currentColor;
}
.background span:nth-child(9) {
    color: #ffffff;
    top: 92%;
    left: 99%;
    animation-duration: 29s;
    animation-delay: -37s;
    transform-origin: 8vw 18vh;
    box-shadow: 4vmin 0 1.2899143370817832vmin currentColor;
}
.background span:nth-child(10) {
    color: #6942ae;
    top: 3%;
    left: 89%;
    animation-duration: 39s;
    animation-delay: -15s;
    transform-origin: -23vw -11vh;
    box-shadow: -4vmin 0 1.4098349408006938vmin currentColor;
}
.background span:nth-child(11) {
    color: #ffffff;
    top: 80%;
    left: 64%;
    animation-duration: 46s;
    animation-delay: -11s;
    transform-origin: 2vw 0vh;
    box-shadow: -4vmin 0 0.7794476423407342vmin currentColor;
}
.background span:nth-child(12) {
    color: #6942ae;
    top: 91%;
    left: 34%;
    animation-duration: 28s;
    animation-delay: -1s;
    transform-origin: 17vw 10vh;
    box-shadow: -4vmin 0 0.9894113660464248vmin currentColor;
}
.background span:nth-child(13) {
    color: #ffffff;
    top: 52%;
    left: 90%;
    animation-duration: 14s;
    animation-delay: -18s;
    transform-origin: -20vw -22vh;
    box-shadow: 4vmin 0 1.2167017072851312vmin currentColor;
}
.background span:nth-child(14) {
    color: #6942ae;
    top: 9%;
    left: 53%;
    animation-duration: 8s;
    animation-delay: -36s;
    transform-origin: -15vw 17vh;
    box-shadow: -4vmin 0 0.6872920729721992vmin currentColor;
}
.background span:nth-child(15) {
    color: #ffffff;
    top: 25%;
    left: 70%;
    animation-duration: 39s;
    animation-delay: -24s;
    transform-origin: 3vw -11vh;
    box-shadow: 4vmin 0 0.8812633359604374vmin currentColor;
}
